{% extends parent %}

{% block password %}
<div class="login">
{{ form_start(form) }}

    {{ form_errors(form) }}

    {% for key, value in fields  %}
        {% if value.config.name != 'submit' %}
            {{ form_row(form[key]) }}
        {% endif %}
    {% endfor %}

    <br>

    {{ form_row(form.submit) }}

{{ form_end(form) }}
</div>
{% endblock password %}
